/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.8.3-MariaDB, for debian-linux-gnu (x86_64)
--
-- Host: localhost    Database: wordpress_prod_backup
-- ------------------------------------------------------
-- Server version	11.8.3-MariaDB-ubu2404

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Dumping data for table `wp_frmt_form_entry`
--

LOCK TABLES `wp_frmt_form_entry` WRITE;
/*!40000 ALTER TABLE `wp_frmt_form_entry` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `wp_frmt_form_entry` VALUES
(1,'custom-forms',NULL,80,0,'2026-01-18 19:57:58','active'),
(2,'custom-forms',NULL,80,0,'2026-01-20 21:45:34','active'),
(3,'custom-forms',NULL,80,0,'2026-01-20 22:12:46','active'),
(4,'custom-forms',NULL,80,0,'2026-01-21 08:55:25','active'),
(5,'custom-forms',NULL,80,0,'2026-01-21 09:08:52','active'),
(6,'custom-forms',NULL,80,0,'2026-01-21 09:13:56','active'),
(7,'custom-forms',NULL,80,0,'2026-01-21 20:05:37','active'),
(8,'custom-forms',NULL,80,0,'2026-01-26 22:50:53','active');
/*!40000 ALTER TABLE `wp_frmt_form_entry` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `wp_frmt_form_entry_meta`
--

LOCK TABLES `wp_frmt_form_entry_meta` WRITE;
/*!40000 ALTER TABLE `wp_frmt_form_entry_meta` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `wp_frmt_form_entry_meta` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `wp_frmt_form_views`
--

LOCK TABLES `wp_frmt_form_views` WRITE;
/*!40000 ALTER TABLE `wp_frmt_form_views` DISABLE KEYS */;
set autocommit=0;
INSERT INTO `wp_frmt_form_views` VALUES
(1,80,79,NULL,4,'2026-01-18 19:54:53','2026-01-18 19:55:58'),
(2,80,79,NULL,1,'2026-01-19 12:57:06','0000-00-00 00:00:00'),
(3,80,79,NULL,1,'2026-01-20 21:44:12','0000-00-00 00:00:00'),
(4,80,79,NULL,6,'2026-01-21 08:54:23','2026-01-21 20:04:51'),
(5,80,79,NULL,1,'2026-01-24 18:52:53','0000-00-00 00:00:00'),
(6,80,79,NULL,1,'2026-01-26 22:50:05','0000-00-00 00:00:00'),
(7,80,79,NULL,1,'2026-01-27 10:58:50','0000-00-00 00:00:00');
/*!40000 ALTER TABLE `wp_frmt_form_views` ENABLE KEYS */;
UNLOCK TABLES;
commit;

--
-- Dumping data for table `wp_frmt_form_reports`
--

LOCK TABLES `wp_frmt_form_reports` WRITE;
/*!40000 ALTER TABLE `wp_frmt_form_reports` DISABLE KEYS */;
set autocommit=0;
/*!40000 ALTER TABLE `wp_frmt_form_reports` ENABLE KEYS */;
UNLOCK TABLES;
commit;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2026-02-05 21:41:21
